.navbar-brand {
    /* Style for "Golden" */
    width: 79px;
    height: 28px;
    color: #fed136;
    color: #ffffff;
    font-family: "Wisdom - Script";
    font-size: 26px;
    font-weight: 400;
    line-height: 41px;
    /* Text style for "G, olden" */
    color: #fed136;
    letter-spacing: 1.3px;
}
.navbar-nav {
    /* Style for "Home" */
    height: 10px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
}
nav {
    background-color: transparentize($color: #00000000, $amount: 0);
}
.container {
    height: 100vh;
    position: relative;
    background-image: url("https://images.pexels.com/photos/3031670/pexels-photo-3031670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    .title {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #ffffff;
        text-align: center;
    }
}
.btn-warning{
    border-radius: 0em;
    color: #ffffff;
} 
.card-i {
    font-size: 30px;
    color: #fed136
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: $color-light;

    border-radius: 50%;
}