$color-light: #aad136;
header {
    position: relative;
    background-image: url("https://images.pexels.com/photos/1639729/pexels-photo-1639729.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    &::before { 
        /* Style for "Tint" */
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.5;
        left: 0;
        top: 0;
    }
}
.navbar-brand {
    /* Style for "Golden" */
    background-color: transparent;
    position: absolute;
    width: 79px;
    height: 28px;
    color: #fed136;
    color: #ffffff;
    font-family: 'Marck Script';
    font-size: 26px;
    font-weight: 400;
    line-height: 41px;
    /* Text style for "Golden" */
    color: #fed136;
    letter-spacing: 1.3px;
}
.navbar-nav {
    /* Style for "Home" */
    height: 10px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
    a {
        color: #ffffff;
    }
}
nav {
    background-color: transparentize($color: #00000000, $amount: 0);
}
.box {
    height: 100vh;
    position: relative;
    .title {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        h2 {
            /* Style for "Welcome To" */
            color: #ffffff;
            font-family: "Droid Serif";
            font-size: 40px;
            /* Text style for "W, elcome" */
            letter-spacing: -1px;
        }
        h1 {
            /* Style for "It’s nice" */
            color: #ffffff;
            font-family: Montserrat;
            font-size: 75px;
            font-weight: 700;
            text-transform: uppercase;
            /* Text style for "It’s nice" */
            letter-spacing: -1.88px;
        }
    }
}
.container {
    .box {
        h1 {
            /* Style for "Services" */
            color: #222222;
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 75px;
            text-transform: uppercase;
            /* Text style for "S, ervices" */
            letter-spacing: -1px;
        }
        h6 {
            /* Style for "It’s nice" */
            color: #ffffff;
            font-family: Montserrat;
            font-size: 75px;
            font-weight: 700;
            text-transform: uppercase;
            /* Text style for "It’s nice" */
            letter-spacing: -1.88px;
        }
    }
}
.btn-warning {
    /* Style for "Button" */
    width: 240px;
    height: 65px;
    background-color: #fed136;
    border-radius: 1px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
} .card {
    border: none;
    position: relative;
    text-align: center;
    align-items: center;

}
.card-i {
    font-size: 30px;
    color: #fed136;
    width: 70px;
    height: 70px;
    line-height: 60px;
    border-radius: 50%;
    border: solid 2px;
    text-align: center;
}
.two-titles {
    text-align: center;
}